.main-page {
    background: radial-gradient(35.95% 86.4% at 57.46% 98.82%, #4CB962 0%, #72BF44 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page__view {
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(38, 43, 82, 0.05);
    border-radius: 20px;
    margin: 30px;
    padding: 25px;
    min-width: 800px;
    min-height: 400px;
}
.breadcrumbs__section {
    width: 100%;
    max-width: 747px;
    margin: 0 auto;
}
.breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 11px;
    color: #000;
    margin: 30px 0 15px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.breadcrumb a {
    text-decoration: none;
    color: #000;
}
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/";
}
.login-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 747px;
}
.login__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
}
.login__input-block {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login__input-title {
    font-weight: 700;
    font-size: .875em;
    margin-bottom: 25px;
}
.login__input {
    border: none;
    border-bottom: 1px solid #b0b0b0;
    width: 100%;
    font-size: 1em;
    padding-bottom: 15px;
}
.login__get-password {
    width: 60%;
    max-width: 280px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.button {
    border-radius: 25px;
}
.button {
    width: 100%;
    height: 50px;
    border: none;
    background: #009486;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.login__text {
    font-size: 1em;
    color: #b2b2b2;
    margin-bottom: 10px;
}

p {
    margin: 0;
    padding: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.login__input-title {
    font-weight: 700;
    font-size: .875em;
    margin-bottom: 25px;
}
.login__autorization {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
.button {
    border-radius: 25px;
}

.button {
    width: 100%;
    height: 50px;
    border: none;
    background: #009486;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
@media screen and (max-width: 600px) {
    .main-page__view {
        min-width: 90%; /* Thay đổi kích thước theo ý muốn */
        min-height: 300px; /* Thay đổi kích thước theo ý muốn */
        margin: 15px; /* Thay đổi khoảng cách theo ý muốn */
        padding: 15px; /* Thay đổi padding theo ý muốn */
    }

    /* Các điều chỉnh khác cho giao diện điện thoại di động */
}
